[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.5.1.48"
flask = "==1.1.2"
requests = "*"
numpy = "*"
pillow = "==8.1.0"
dlib = "==19.21.1"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
colormath = "==3.0.0"
flask-cors = "*"
colorthief = "==0.2.1"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.7"
